<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Favourite List</title>
</head>
<body>
  Favourite List Page<br />
    <a href="/">Home</a><br />
    <a href="/host/add-home">Add Home</a><br />
    <a href="/bookings">Bookings</a><br />
    <a href="/favourite-list">Favourites List</a><br />
    <a href="/home-detail">Home Detail</a><br />
    <a href="/home-list">Home List</a><br />
    <a href="/reserve">Reserve</a><br />
</body>
</html>